black==26.1.0
click==8.3.1
diceroller @ https://github.com/retromatey/diceroller/releases/download/v0.1.3/diceroller-0.1.3-py3-none-any.whl#sha256=832314077c24d6f2e562b94d0e2a9202fd28f3099703686b40f96c1190bc1196
docstring-to-markdown==0.17
importlib_metadata==8.7.1
iniconfig==2.3.0
jedi==0.19.2
mypy_extensions==1.1.0
packaging==26.0
parso==0.8.6
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
pytokens==0.4.1
-e git+https://github.com/retromatey/rpgcharacters.git@2bcde6489273ec48d59fb96e07b118b5c168d6d4#egg=rpgcharacters
typing_extensions==4.15.0
ujson==5.11.0
zipp==3.23.0
